.stores__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.stores__container h2 {
  grid-column: 1 / -1;
  margin-bottom: 60px;
}

.stores__item {
  border-radius: 4px;
  background-color: var(--color-0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.stores__item img {
  border-radius: 4px 4px 0 0;
}

.stores__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 16px;
  padding: 32px;
}
.stores__content h3,
.stores__time {
  grid-column: 1 / -1;
}

.stores__data {
  display: grid;
  gap: 8px;
  border-left: 2px solid var(--color-2);
  padding-left: 12px;
}

.stores__time {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 800px) {
  .stores__container {
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .stores__container h2 {
    margin-bottom: 32px;
  }

  .stores__content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .stores__container {
    grid-template-columns: 1fr;
  }
}
