.terms__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.terms__container h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

.terms__container p + h2 {
  margin-top: 40px;
}

.terms__container p {
  margin-bottom: 24px;
  max-width: 75ch;
}
