/* Base */
@import url("base/reset.css");
@import url("base/typography.css");
@import url("base/variables.css");
@import url("base/scroll-bar-generator.css");

/* Components */
@import url("components/c-header.css");
@import url("components/c-button.css");
@import url("components/c-bike-card.css");
@import url("components/c-link.css");
@import url("components/c-insurance.css");
@import url("components/c-footer.css");
@import url("components/c-title-page.css");
@import url("components/c-form.css");

/* Layouts */
@import url("layouts/l-layout.css");

/* Sections */
/* Home */
@import url("sections/home/hero.css");
@import url("sections/home/technology.css");
@import url("sections/home/patners.css");
@import url("sections/home/testimony.css");
/* Bicicletas */
@import url("sections/bicicletas/bicycles.css");
/* Bicicleta */
@import url("sections/bicicleta/bicycle.css");
@import url("sections/bicicleta/insurance.css");
/* Termos */
@import url("sections/termos/termos.css");
/* Seguros */
@import url("sections/seguros/advantages.css");
@import url("sections/seguros/questions.css");
/* Contato */
@import url("sections/contato/contact.css");
@import url("sections/contato/stores.css");
/* Budget */
@import url("sections/budget/budget.css");

/* Utilities */
@import url("utilities/u-typography.css");
@import url("utilities/u-colors.css");
@import url("utilities/u-col.css");
@import url("utilities/animation.css");
