.c-btn {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--color-p5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
}

.c-btn:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.c-btn.c-btn--secondary {
  color: var(--color-2);
  background: none;
  background-color: var(--color-10);
}

.c-btn.c-btn--secondary:hover {
  background-color: var(--color-9);
}

.c-btn.c-btn--arrow {
  display: flex;
  align-items: center;
}

.c-btn.c-btn--arrow::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../img/icones/seta.svg");
  transition: .2s;
}

.c-btn.c-btn--arrow:hover::after {
  transform: translateX(4px);
}

@media (max-width: 600px) {
  .btn {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
