.insurance {
  background-color: var(--color-11);
  box-shadow: inset 0 120px var(--color-0), inset 0 -120px var(--color-12);
}

.insurance__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.insurance__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.insurance__content {
  padding-top: 180px;
  padding-bottom: 180px;
}

.insurance h2 {
  margin-bottom: 32px;
}

.insurance p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
    .insurance{
       box-shadow: inset 0 -60px var(--color-12);
    }

  .insurance__container {
    grid-template-columns: 1fr;
  }

  .insurance__content {
    grid-row: 1;
    padding-top: 40px;
    padding-bottom: 0;
  }
}
