.hero {
  background-color: var(--color-12);
  color: var(--color-0);
  box-shadow: inset 0 -120px var(--color-0);
}

.hero__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}

.hero__text {
  grid-column: 1;
  align-self: end;
  padding-bottom: 200px;
}

.hero__text h1 {
  margin-bottom: 32px;
}

.hero__text p {
  margin-bottom: 20px;
  color: var(--color-5);
}

.hero__content img {
  grid-column: 2;
  grid-row: 1/3;
  object-fit: cover;
}


@media (max-width: 800px) {
  .hero {
    background-color: var(--color-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--color-0);
  }

  .hero__content {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .hero__text {
    padding-bottom: 0px;
  }

  .hero__text h1 {
    margin-bottom: 16px;
  }

  .hero__content img {
    width: 100%;
    height: 300px;
  }
}
